.container {
	display: flex;
}

.container.hide-mobile {
	display: none;
}

.container.equal {
	flex: 1;
}

.container.edges {
	padding: 0 2rem;
}

.container.column {
	flex-direction: column;
}

.container.justify-center {
	justify-content: center;
}

.container.justify-between {
	justify-content: space-between;
}

.container.align-center {
	align-items: center;
}

.container.grow {
	flex-grow: 1;
}

.container-wrap {
	padding: 0 2rem;
	max-width: 75rem;
	width: 100%;
}

@media screen and (min-width: 600px) {
	.container.hide-mobile {
		display: flex;
	}
}
