.container {
	display: flex;
	position: relative;
}

.container.fill {
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
}

.container.hide-mobile {
	display: none;
}

.container.equal {
	flex: 1;
}

.container.edges {
	padding: 0 2rem;
}

.container.column {
	flex-direction: column;
}

.container.justify-center {
	justify-content: center;
}

.container.justify-between {
	justify-content: space-between;
}

.container.justify-end {
	justify-content: flex-end;
}

.container.align-center {
	align-items: center;
}

.container.grow {
	flex-grow: 1;
}

.container.padding {
	padding: 1.5rem;
}

.container.border {
	border: 1px solid rgba(204,204,204,.41);
}

.container-wrap {
	padding: 0 2rem;
	max-width: 75rem;
	width: 100%;
}

.container.break {
	max-width: 48rem;
}

.container.gray {
	background: #fafafa;
}

.card {
	padding: 1.75rem;
	border: 2px solid #e2e2e2;
    border-radius: 0.3rem;
	transition: 250ms all;
	flex: 0 0 100%;
}

.container.responsive {
	flex-direction: column;
}

.card:hover {
	/*border-color: #6666FF;*/
}

.card.shadow {
	border-radius: 0;
	border: 0;
	background: white;
}

.section {
	padding: 4rem 0;
}

.section.large {
	padding: 6rem 0;
}

.section.xl {
	padding: 16rem 0;
}

.section.small {
	padding: 3rem 0;
}

.row {
	margin-bottom: 2rem;
}

.row:last-child {
	margin-bottom: 0;
}

@media screen and (min-width: 600px) {
	.container.hide-mobile {
		display: flex;
	}

	.container.responsive {
		flex-direction: row;
	}
}
