.timeline {
	padding: 1rem 2rem;
	border-left: 2px solid lightgray;
	position: relative;
	border-left: 2px solid #e2e2e2;
}

.timeline::before {
    position: absolute;
    top: calc(50% - 6px);
    left: -5px;
    content: '';
    display: block;
    width: 8px;
    height: 8px;
    background: lightgray;
    border-radius: 1000px;
}
